<div class="large-12 medium-12 project_container columns">
	<div class="row">
  	<div class="medium-6 large-6 columns">
			<div class="panel radius white-main">
      	<ul class="inline-list mb15">
        	<li><a href="/perfil/{{ user_profile.user.id }}"> <div class="img-container-user circular" style="background-image: url('{{ user_profile.avatar_url.url_700x700 }}');"></div> </a></li>
          <li><a href="/perfil/{{ user_profile.user.id }}"> <h4 class="mb0 user-link">{{ user_profile.user.username }} <small> <i class="fa fa-heart-o"></i> {{ x.rate }} </small></h4> </a><p class="mb0 subheader">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</p></li>
				</ul>
				<h4><small>Colaboraciones salientes</small></h4>
                <ul class="no-bullet">
                
                        <li class="h-divider"></li>
                        <li><p class="small"><i class="fa fa-calendar"></i> {{ colab.date }}</p></li>
						<li><p class="small">{{ colab.subject }}</p></li>
                        <li><p><i class="fa fa-long-arrow-right red-main"></i> Prestas el servicio de <span class="radius label secondary " >{{ colab.collaboratorSkill }}</span> en el proyecto <strong><a href="/proyecto/{{ user_profile.user.username|slugify }}/{{ x.project|slugify }}">{{ x.project }}</a></strong></p></li>

                </ul>
                </div>          
            </div>
             
               <!--- part 2 -->
				<div class=" medium-6 large-6 columns chat">

				<h4><small><i class="fa fa-comment"></i> Conversaciones</small></h4>

				<ul class="tabs" data-tab>
				  <li class="tab-title active"><a href="#{{ user_profile.user.username|join:"1" }}">Recibidos</a></li>
				  <li class="tab-title"><a href="#{{ user_profile.user.username|join:"2" }}">Enviados</a></li>
				</ul>
					<div class="tabs-content ptb25">
						  <div class="content active" id="{{ user_profile.user.username|join:"1" }}">
							
							{% for key, values in msnIn.items %}
								{% for x in values  %}			
									{% if x.sender.username == user_profile.user.username or x.recipient.username == user_profile.user.username %}
										<p>
											<i class="fa fa-angle-double-right"></i> {% if x.new %}<b>Asunto:</b>{% else %}Asunto:{% endif %}
											{% if x.new %}<b><a href="/mensajes/view/{{ x.id }}/">{{ x.subject }}</a></b>{% else %}<a href="/mensajes/view/{{ x.id }}/">{{ x.subject }}</a>{% endif %}
											{% if x.new %}<b>{{ x.sent_at|date:"SHORT_DATE_FORMAT" }}</b>{% else %}{{ x.sent_at|date:"SHORT_DATE_FORMAT" }}{% endif %}
										</p>
									{% else %}
										{% if forloop.parentloop.last %}
											<h6 class="subheader ptb25"><i class="fa fa-refresh"></i> Aún no hay mensajes para mostrar</h6>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endfor %}
							  
						  </div>
						  <div class="content" id="{{ user_profile.user.username|join:"2" }}">
										{% for key, values in msnOut.items %}
												{% for x in values  %}			
													{% if x.sender.username == user_profile.user.username or x.recipient.username == user_profile.user.username %}
														<p>
															<i class="fa fa-angle-double-right"></i> {% if x.new %}<b>Asunto:</b>{% else %}Asunto:{% endif %}
															{% if x.new %}<b><a href="/mensajes/view/{{ x.id }}/">{{ x.subject }}</a></b>{% else %}<a href="/mensajes/view/{{ x.id }}/">{{ x.subject }}</a>{% endif %}
															{% if x.new %}<b>{{ x.sent_at|date:"SHORT_DATE_FORMAT" }}</b>{% else %}{{ x.sent_at|date:"SHORT_DATE_FORMAT" }}{% endif %}
														</p>
														{% else %}
														{% if forloop.parentloop.last %}
															 <h6 class="subheader ptb25"><i class="fa fa-refresh"></i> Aún no hay mensajes para mostrar</h6>
														{% endif %}
													{% endif %}
												{% endfor %}
										{% endfor %}
						  </div>

							<a href="/mensajes/compose/{{ user_profile.user.username }}" class="button tiny radius secondary"><i class="fa fa-plus"></i> Nuevo mensaje</a>

					</div>	
				</div>
         
		</div>
	
</div>