{% extends "base.html" %}
{% block base_body %}

<div class="botborder" >
    <div class="row ptb25 mrl20">
        
        <h1>¿Qué es troca?</h1>
        <p class="paragraph">
        	Es una plataforma web diseñada para apoyar la creación y ejecución de proyectos culturales, la cual facilita la divulgación, 
        	el intercambio y la donación de habilidades o conocimientos entre los miembros de la comunidad virtual. 
        </p>

    </div>
</div>

<div class="bkg-white-main">
     <div id="container" class="row mrl20">
        
       <ul class="pic-orbit" data-orbit data-options="slide_number:false;
                                                            animation:slide;
                                                            pause_on_hover:false;
                                                            animation_speed:500;
                                                            navigation_arrows:false;">
              <li><img src="http://i.imgur.com/hrnLhl8.jpg" data-caption="Noísradio"</li>
              <li><img src="http://i.imgur.com/cFK6amA.jpg" data-caption="Colectivo visual guacala"></li>
              <li><img src="http://i.imgur.com/FCueo95.jpg" data-caption="fo-Cali"></li>
              <li><img src="http://i.imgur.com/7g1UvcI.jpg" data-caption="Colectivo visual guacala"></li>
              <li><img src="http://i.imgur.com/QhkXxI3.jpg" data-caption="Ataque láser"</li>
        </ul>
    </div>
        
        <div class="row botborder ptb25 mrl20 pb10">
            
          <div class="large-6 medium-6 columns">
                 <h3><i class="fa fa-users"></i> Contexto</h3>
                 <p class="paragraph">Troca busca afianzar la colaboración y el trueque como mecanismos para fortalecer las iniciativas de innovación social y 
                 	cultural que surgen en nuestras comunidades, las cuales, por falta de visibilidad y apoyo, difícilmente logran llevarse a cabo.</p>
				<p class="paragraph">La plataforma se fundamenta en un modelo de capital social donde lo relevante es el conocimiento de cada persona, su disposición a 
					colaborar y la red de relaciones que se establece. </p>         
          </div>
          <div class="large-6 medium-6 columns ">
                <h3><i class="fa fa-flag"></i> Objetivo</h3>
                <p class="paragraph">
                    Apoyar la creación y ejecución de proyectos culturales mediante una plataforma virtual que facilite la divulgación, el intercambio y la donación de habilidades o conocimientos entre los miembros de la comunidad virtual.
                </p>
                <p class="paragraph">Troca busca consolidar una red de apoyo y colaboración, en torno a este tipo de iniciativas, en la que participen diversos actores (academia, empresa, estado y sociedad civil).</p>
          </div>
        </div>
      
        <div class="row botborder mrl20 ptb25 pb10">
        <h3><i class="fa fa-magic"></i> Filosofía</h3>
       	<p class="paragraph">Troca es una plataforma diseñada y desarrollada bajo la filosofía del software libre y el licenciamiento Creative Commons.
       		La plataforma Troca esta disponible para que la comunidad la use, modifique y comparta bajo las siguientes condiciones:</p>
        <ul>
            <li>
                    <b>Reconocimiento:</b> Debe reconocer adecuadamente la autoría, proporcionar un enlace a la licencia e indicar si se han realizado cambios. Puede hacerlo de cualquier manera razonable, pero no de una manera que sugiera que tiene el apoyo del licenciador o lo recibe por el uso que hace. 
            </li> 
            <li>
                    <b>NoComercial:</b> No puede utilizar el material para una finalidad comercial.
            </li>
        </ul>
        
        <!-- Place this tag where you want the button to render. -->
<a aria-label="Download jovencoda/troca on GitHub" data-style="mega" data-icon="octicon-cloud-download" href="https://github.com/jovencoda/troca/archive/master.zip" class="github-button">Descargar</a>
        
    </div>
    
    <div class="row mrl20 ptb25">
        <p><i class="fa fa-angle-right"></i> Más información sobre la licencia: <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.es_ES">Creative Commons Reconocimiento-NoComercial 4.0</a></p>
    </div>
    
</div>


{% endblock base_body %}
