

<div class="banner white-main">

	<ul class="banner-orbit" data-orbit data-options="slide_number:false;
														animation:slide;
										                pause_on_hover:false;
										                animation_speed:1200;
																		animation_speed:3000;
																		timer_speed: 10000;
										                navigation_arrows:false;">
	  <li>
		  	<div class="row text-center">
			    <h1>Haz realidad tu proyecto</h1>
			    <h1 class="mtm10 mb40"><small>descubre, crea y colabora</small></h1>
			    <a href="/crea/" class="button btnRed radius">Comenzar</a>
			</div>
	  </li>
	  <li>
	    		  <div class="row text-center">
			    <h1>¿Qué es troca?</h1>
			    <h1 class="mtm10 mb40"><small>descubre todo sobre esta iniciativa</small></h1>
			    <a href="/acerca_de_troca" class="button btnRed radius">Leer más</a>
			</div>
	  </li>
	</ul>

</div>
