
{% extends "base.html" %}
{% load social_share %} 
{% block title %}troca.beta | Descubre proyectos {% endblock title %}

{% block base_body %} 

{% block cat_header %}
<div class="botborder">
  <div class="row ptb25 mrl20 ">
    <h1>Descubre proyectos</h1>
    <p class="paragraph">!Existen muchos proyectos en nuestra comunidad! Te invitamos a descubrirlos y colaborar. 
      <br>Utiliza los filtros para encontrar proyectos con los que puedes hacer intercambios</p>
    <dl class="sub-nav">
    <dt><i class="fa fa-filter"></i> Filtrar:</dt>
    <dd class="active"><a href="/descubre/">Todos</a></dd>
      {% if user.is_authenticated %} 
    <dd><a href="/colabora/trueque"><i class="fa fa-exchange"></i> Trocables</a></dd>
    <dd><a href="/colabora/donacion"><i class="fa fa-gift"></i> Donables</a></dd>
      {%endif%}
    <dd class="hide-for-small-only"><a href="/colabora/caducados"><i class="fa fa-lock"></i> Caducados</a></dd>
  </dl>

  </div>
</div>
{% endblock cat_header %}

<div class="bkg-white-main">


  <div id="container" class="row pt25">

    {% for project in object_list %} {% include "category_view_page.html" with object=project %} {% empty %}
    <h6 class="subheader text-center"><i class="fa fa-life-ring"></i> Aún no hay proyectos en esta categoría</h6> {% endfor %}

  </div>

  {% include "_pagination.html" %}

</div>

<div class="botborder topborder">
  <div class="row ptb25 mrl20">
    <h1>Categorías</h1>
    <p class="paragraph">Navega a través de las categorías para econtrar otros proyectos</p>

    <ul class="button-group">

      {% for key, values in categories.items %} {% for x in values %}
      <li><a href="/descubre/{{ key.slug }}" class="button radius secondary">{{ key.title }} ( {{ x }} )</a></li>
      {% endfor %} {% endfor %}

    </ul>
  </div>
</div>


<script type="text/javascript">
  // ------ Start isotope

  $('#container').isotope({
    itemSelector: '.project_container',
    getSortData: {
      rate: '.rate parseInt',
      date: function(itemElem) { // function
        var _date = $(itemElem).find('.date').text();
        return Date.parse(_date);
      }
    }
  });


  $(document).ready(function() {



    // ------ HOVER || on every poject main image

    $(".img-container2-panel").each(function(index) {

      $(this).hover(function() {
        $(this).find(".overlay").fadeIn();
      }, function() {
        $(this).find(".overlay").fadeOut();
      });

    });



  });
</script>

{% endblock base_body %}