{% load staticfiles %} 
{% load core_extras %} 
{% load get_skills %}


			<!-- 		Respuestas del comentario	 -->
			<!-- 				  for c in responds.[com.pk]    -->
			{% for c in comment|get_responds %}

			<div class="respuesta">
				<div class="fotoComentario" style="display: inline-block; width:30px;">
					<a href="/perfil/{{ c.userRespond.id }}">
						<div class="img-container-user circular" style="background-image: url('{{ c.userProfileRespond.avatar_url.url_700x700 }}');  width:30px;  height:30px;">
						</div>
					</a>
				</div>
				<div class="infoComentario" style="display: inline-block;">


					<h5 class="mb0"><a href="/perfil/{{ c.userRespond.id }}">{{ c.userRespond.username }}</a> </h5>
					<p class="mb0 comentario">
						"{{c.respond}}"
					</p>
				</div>
			</div>
			{%endfor%}

		
	
