{% extends "base.html" %}
{% block base_body %}

<div class="botborder" >
    <div class="row ptb25 mrl20">
        
        <h1>¿Quiénes somos?</h1>
        <p class="paragraph">
           Troca es una comunidad conformada por personas de todos los contextos de la produción cultural, <br> sin embargo éstas son las personas que la hicieron posible: 
        </p>

    </div>
</div>

<div class="bkg-white-main">
    
    
     <div class="row botborder ptb25 mrl20 pb10">
            
          <div class="large-6 medium-6 columns">
                 <h3>J. David Toro <i class="fa fa-angle-right"></i> <strong>Diseño y Programación (Troca - Actual.)</strong></h3>  
                 <ul class="breadcrumbs padl0">
                        <li><a href="https://www.behance.net/jovencoda"><i class="fa fa-behance-square"></i> Behance</a></li>
                        <li><a  href="https://co.linkedin.com/in/jdavidtoro"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
                </ul>
                <p class="paragraph">
                   Como diseñador considero que no solo es importante si las cosas lucen bien, sino también los argumentos que respaldan la existencia de cada elemento dentro de un diseño. Una investigación profunda y una correcta planificación son el éxito de cualquier trabajo.
                </p>
                
          </div>
		 
		  <div class="large-6 medium-6 columns ">
                <h3>Javier A. Ramos <i class="fa fa-angle-right"></i> <strong>Líder de proyecto</strong></h3>
                     <ul class="breadcrumbs padl0">
                        <li> <a href="https://miscabezas.wordpress.com/about/"><i class="fa fa-wordpress"></i> Blog</a></li>
                    </li>
                </ul>
                <p class="paragraph">
                  Director de la carrera de Diseño de Medios Interactivos, y miembro del Grupo de investigación en Diseño Leonardo de la Universidad Icesi, desde donde indaga en la interrelación entre Diseño, Innovación, Tecnologías y en el contexto social. Liderá el Laboratorio de medios digitales y contenidos culturales ComunLAB y el Festival internacional de animación “La Truca” de Cali
                </p>
          </div>
          
        </div>
             
        <div class="row botborder ptb25 mrl20 pb10">
			
                     
          <div class="large-6 medium-6 columns ">
                <h3>Héctor J. Mejía <i class="fa fa-angle-right"></i> <strong>Asesor</strong></h3>
                <ul class="breadcrumbs padl0">
                        <li> <a href="http://snowcone.com.co"><i class="fa fa-wordpress"></i> Web</a></li>
                    </li>
                </ul>
                <p class="paragraph">
                  Apasionado por la tecnología y fan proclamado de Google, trabaja de lleno en el diseño de interfaces hombre-máquina creando nuevas experiencias de usuario. Combina su trabajo y emprendimiento con clases en las universidad ICESI sobre desarrollo de software, programación web e interfaces hombre-máquina, formando nuevas generaciones de diseñadores y desarrolladores.
                </p>
          </div>
          
          <div class="large-6 medium-6 columns ">
                <h3>Carlos Cuervo <i class="fa fa-angle-right"></i> <strong>Asesor</strong></h3>
                 
                <p class="paragraph">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed malesuada quam. Sed non ligula nibh. Sed at dolor posuere, blandit odio vitae, maximus eros. Ut pellentesque consequat elit, nec euismod tortor condimentum nec.
                </p>
          </div>
          
          </div>
          
          <div class="row botborder ptb25 mrl20 pb10">
          
          <div class="large-6 medium-6 columns ">
                <h3>Daniel A. Bolivar <i class="fa fa-angle-right"></i> <strong>Diseño (Troca v1.)</strong></h3>
                <ul class="breadcrumbs padl0">
                        <li> <a href="https://www.behance.net/danielbe"><i class="fa fa-behance-square"></i> Behance</a></li>
                        <li><a  href="https://co.linkedin.com/in/ddanielb"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                    </li>
                </ul>
                <p class="paragraph">
                   Geek empedernido, está convencido que los videojuegos y las películas le han enseñado más de la vida que la vida misma. Le gusta aprender, fotografiar extraños y googlear las respuestas a las preguntas que le hacen, cuando no la conoce de antemano. 
                </p>
                
                <h6><i class="fa fa-angle-right"></i> Más información: <a href="https://www.behance.net/gallery/22749863/Trocacc">Troca v1.</a></h6>           
                
          </div>
          
          <div class="large-6 medium-6 columns ">
                <h3></i>Laura M. Araujo <strong>Diseño (Troca v1.)</strong></h3>
                  <ul class="breadcrumbs padl0">
                        <li> <a href="https://www.behance.net/lauaraujo"><i class="fa fa-behance-square"></i> Behance</a></li>
                        <li><a  href="https://co.linkedin.com/in/lauaraujo"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                    </li>
                </ul>
                <p class="paragraph">
                   Dice que lo mejor que le enseña el diseño es otra forma de ver la vida. Le gusta la investigación, los gatos, tomar fotos, toda clase de dulce (en especial el helado). Lo que espera de la vida es la oportunidad de disfrutar su trabajo, el diseño es un primer paso, generar un cambio positivo el segundo.
                </p>
                
          </div>
          
          
        </div>
        
        <div class="row mrl20 pb10" style="text-align: center; padding-bottom: 80px; margin-top: 80px;">
            
            <h1><i class="fa fa-heart red-main"></i> Queremos saber de ti.</h1>
            <p>Envíanos tus preguntas y cometarios: Escríbenos a <a href="mailto:genitor06@gmail.com">genitor06@gmail.com</a></p>
            
        </div>
    
</div>


{% endblock base_body %}
