{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block base_body %}

<!-- TOP BANNER DETAILS -->

<div class="botborder" >
    <div class="row ptb25 text-center">
        
        <h1>Bienvenido {{user_P.first_name}} {{user_P.last_name}}</h1>
        <p class="paragraph">¡Has solicitado una cambio de contraseña para el usuario {{user_P.username}}!</p>
        {%if solicitud.isActive%}
        {% csrf_token %}
        {% crispy form %}
        {%else%}
      
      <div data-alert="" class="nonfield-errors alert-box alert">
         <ul class="compact">
              <li>El enlace para cambiar la contraseña ha caducado.</li>
              <li> <a href="/cambiar_contrasena/{{user_P.username}}"> Para volver a cambiar la contraseña hacer click aquí</a> </li>
          </ul>
                </div>
      
      
      {%endif%}
    </div>
</div>
<div class="bkg-white-main" >
    <div class="row pb25">
    </div>
</div>

{% endblock base_body %}
