


<div id="projects_container" class="js-masonry row mb40"
  data-masonry-options='{ "itemSelector": ".project_container" }'>

	<!--------- project ------------------>


	<div class="large-4 medium-6 project_container columns">
		<div class="panel project_thumb white-main">

			<div class="img-container2-panel" style="background-image: url('http://cdn.pastemagazine.com/www/system/images/photo_albums/willitbeard/large/photo_2111_0-4.jpg?1384968217');"></div>

			<div class="pad15">
						<h4>La baraba con palillos, aprender de lo esencial</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

			<ul class="inline-list mb0"> 
				<li><p class="mb0"><i class="fa fa-heart-o"></i> 12</p></li> 
				<li><p class="mb40"><i class="fa fa-eye"></i> 42</p></li> 
			</ul>


						<ul class="no-bullet"> 
							<li class="h-divider"></li>

							<li><p class="small"><span data-tooltip aria-haspopup="true" class="has-tip" title="Son las posibilidades de colaboración dados tres factores: <br>1. Tus habilidades <br>2. Las nacesidades del proyecto <br>3. Las habilidades que el autor del proyecto puede darte a cambio">Opciones de colaboración:</span></p></li>
							<li><p class="mb10"><i class="fa fa-exchange red-main"></i> Puedes trocar habilidades</p></li>
							<li><p class="mb10"><i class="fa fa-gift red-main"></i> Puedes hacer una donación</p></li>
						</ul>

<div id="result"></div>

			</div>
		</div>

	</div>

	<!--------- project ------------------>


	<div class="large-4 medium-6 project_container columns">
		<div class="panel project_thumb white-main">

			<div class="img-container2-panel" style="background-image: url('http://cdn.pastemagazine.com/www/system/images/photo_albums/willitbeard/large/photo_2111_0-4.jpg?1384968217');"></div>

			<div class="pad15">
						<h4>La baraba con palillos, aprender de lo esencial</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

			<ul class="inline-list mb0"> 
				<li><p class="mb0"><i class="fa fa-heart-o"></i> 12</p></li> 
				<li><p class="mb40"><i class="fa fa-eye"></i> 42</p></li> 
			</ul>


						<ul class="no-bullet"> 
							<li class="h-divider"></li>

							<li><p class="small"><span data-tooltip aria-haspopup="true" class="has-tip" title="Son las posibilidades de colaboración dados tres factores: <br>1. Tus habilidades <br>2. Las nacesidades del proyecto <br>3. Las habilidades que el autor del proyecto puede darte a cambio">Opciones de colaboración:</span></p></li>
							<li><p class="mb10"><i class="fa fa-exchange red-main"></i> Puedes trocar habilidades</p></li>
							<li><p class="mb10"><i class="fa fa-gift red-main"></i> Puedes hacer una donación</p></li>
						</ul>

<div id="result"></div>

			</div>
		</div>

	</div>

	<!--------- project ------------------>


	<div class="large-4 medium-6 project_container columns">
		<div class="panel project_thumb white-main">

			<div class="img-container2-panel" style="background-image: url('http://cdn.pastemagazine.com/www/system/images/photo_albums/willitbeard/large/photo_2111_0-4.jpg?1384968217');"></div>

			<div class="pad15">
						<h4>La baraba con palillos, aprender de lo esencial</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

			<ul class="inline-list mb0"> 
				<li><p class="mb0"><i class="fa fa-heart-o"></i> 12</p></li> 
				<li><p class="mb40"><i class="fa fa-eye"></i> 42</p></li> 
			</ul>


						<ul class="no-bullet"> 
							<li class="h-divider"></li>

							<li><p class="small"><span data-tooltip aria-haspopup="true" class="has-tip" title="Son las posibilidades de colaboración dados tres factores: <br>1. Tus habilidades <br>2. Las nacesidades del proyecto <br>3. Las habilidades que el autor del proyecto puede darte a cambio">Opciones de colaboración:</span></p></li>
							<li><p class="mb10"><i class="fa fa-exchange red-main"></i> Puedes trocar habilidades</p></li>
							<li><p class="mb10"><i class="fa fa-gift red-main"></i> Puedes hacer una donación</p></li>
						</ul>

<div id="result"></div>

			</div>
		</div>

	</div>



<!--------- End projects container ------------------>


</div>


<div class="text-center">
	<a href="#" class="button radius">Ver más proyectos</a>
</div>


</div>
